*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    /* height: 100%;
    width: 100%; */
    /* overflow-x: hidden; */
}
 
.intro{
    background: linear-gradient(to right,#a8edea,  #7C90B3);
    /* min-height: 100vh; */
}

.logo{
    font-size: 2.5rem;
    font-weight: bold;
    color:lightcoral;
    padding-top: 2%;
    margin-left: 4%;
}

.logo:hover{
    color: purple;
    transition: all 0.5s;
}
.red-heading{
    color: rgb(15, 0, 128);
}

.red-heading:hover{
    color: #7C90B3;
    transition: all 0.5s;
}


.container{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.intro-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px; 
    align-items:center ;
    justify-content: center;
}
.intro-grid img{
    width: 500px;
    height: 500px;
    /* margin: 50px 0px; */
    border-radius: 50%;
}

.intro-text {
    color:whitesmoke;
}
h1 span{
    color: rgba(0, 0, 255, 0.68);
}

.intro-text h5{
    font-size: 2rem;
    font-weight: 200;
}

.intro-text span{
    font-size: 3rem;
}

.intro-text span:hover{
    color:lightcoral;
    transition: 0.2s ease-in-out;
}

.intro-text button{
    background-color: lightcoral;
    padding: 20px;
    margin: 20px 0px;
    border-radius: 8px;
    font-size: 1rem;
    
}

.intro-text button a{
    text-decoration: none;
    color: aliceblue;
}

.about-section{
    background: linear-gradient(to right, #fbffef, #e4ebff);
}


.about-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    /* column-gap: 50px; */
    align-items:center ;
}

.about-grid img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.about-text{
    font-size:1.5rem;
    font-weight: 500;
    
}
.skill-container{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.skill-text{
    /* display: block; */
    margin: 10px auto;
    text-align: center;
    font-size: 2.5em;
}

.skill-grid{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    align-items: center;
    gap: 30px;
    column-gap: 200px; 
    padding-bottom: 20px;
}

.card{
    /* background-color: ; */
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px; 
    box-shadow: 10px 5px 5px black;
    margin-top: 20px;
}

.card img {
    width: 250px;
    height: 250px;
}

.card h2{
    margin-top: 10px;
}

.card:hover {
    background-color: rgb(213, 255, 187);
    transition: 0.4s ease-in-out;
    /* transition: transform 0.3s ease-in-out; */
    transform: scale(1.2);
}

.contact-section{
    background-color: #fbffef;
    padding: 50px 0;
    text-align: center;
}

.contact-container{
    max-width: 500px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: rgba(61, 51, 207, 0.769); 
    padding: 20px;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */

}

.contact-text h1{
    padding: 10px;
    font-size: 30px;
    color:#fff;
    
}

.contact-box{
    margin-top: 20px;
}

.input-field{
    width: calc(100% - 20px);
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


textarea {
    width: calc(100% - 20px);
    height: 100px;
    resize: vertical;
    font-size: 20px; /* Adjust the font size as needed */
    box-sizing: border-box;
}
.contact-box button{
    padding: 15px;
    background-color:lightcoral;
    border-radius: 8px;
    font-size: 20px;
    align-items: start;
    justify-content: start;
}

.icon-list{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
}

.icon-list ul li{
    display: inline-block;
    margin-right: 10px;
}

.icon-list ul li a{
    text-decoration: none;
    color: inherit;
}

.icon-list ul li i{
    font-size: 50px;
    margin-right: 5px;
    transition: color 0.3s;
}
.icon-list ul li i:hover{
    color: #ff001e;
}

@media screen and (max-width:600px) {
    .logo{
        font-size: 40px;
    }
    .container{
        height: auto;
    }
    .grid{
       grid-template-columns: 1fr;
    }
    
    .grid img {
        width: 300px;
        height: 300px;
    }
    
    .avatar-img {
        padding: 10px;
    }

   .intro-text {
        text-align: center;
    }
    .text{
        font-size: 30px;
        
    }
    .intro-text span{
       font-size: 35px;
    }
    .intro-text button{
        
        padding: 15px;
        font-size: 15px;
    }
    

    .grid2{
        grid-template-columns:1fr;
    }
    
    .about-img{
        padding:  20px;
    } 
    
    .grid2 img {
        width: 350px;
        height: 350px;
    }

    .about-text{
        font-size:20px;
        font-weight: 200;
        text-align: center;
        
    }

    .skill-container{
        height: auto;
    }
    .skill-text{
        padding: 10px;
        font-size: 1.5em;
    }
    
    .skill-grid{
      
        grid-template-columns:1fr;
    
    }

}