*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
 
.intro{
    background: linear-gradient(to right,#a8edea,  #7C90B3);
}

.logo{
    font-size: 2.5rem;
    font-weight: bold;
    color:lightcoral;
    padding-top: 2%;
    margin-left: 4%;
}

.logo:hover{
    color: purple;
    transition: all 0.5s;
}
.red-heading{
    color: rgb(15, 0, 128);
}

.red-heading:hover{
    color: #7C90B3;
    transition: all 0.5s;
}


.container{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.intro-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px; 
    align-items:center ;
    justify-content: center;
}
.intro-grid img{
    width: 450px;
    height: 450px;
    /* margin: 50px 0px; */
    border-radius: 50%;
}

.intro-text {
    color:whitesmoke;
}
h1 span{
    color: rgba(0, 0, 255, 0.68);
}

.intro-text h5{
    font-size: 1.5rem;
    font-weight: 200;
}

.intro-text span{
    font-size: 2.5rem;
}

.intro-text span:hover{
    color:lightcoral;
    transition: 0.2s ease-in-out;
}

.intro-text button{
    background-color: lightcoral;
    padding: 15px;
    margin: 20px 0px;
    border-radius: 8px;
    font-size: 1rem;
    
}

.intro-text button a{
    text-decoration: none;
    color: aliceblue;
}

.about-section{
    background: linear-gradient(to right, #fbffef, #e4ebff);
}


.about-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    align-items:center ;
    margin: 50px 0;
}

.about-grid img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-left: 5%;
    margin-top: 5%;
}

.about-text h1{
    font-size:2rem;
    font-weight: bold;
}

.about-text p{
    font-size:1.5rem;
    font-weight: 500;
}
.skill-container{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.skill-text{
    padding-top: 100px;
}
.skill-text h1{
    margin: 10px auto;
    text-align: center;
    font-size: 3rem;
}

.skill-grid{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    align-items: center;
    gap: 30px;
    column-gap: 200px; 
    padding-bottom: 20px;
}

.card{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px; 
    box-shadow: 10px 5px 5px black;
    margin-top: 30px;
}

.card img {
    width: 250px;
    height: 250px;
}

.card h2{
    margin-top: 10px;
}

.card:hover {
    background-color: rgb(213, 255, 187);
    transition: 0.4s ease-in-out;
    /* transition: transform 0.3s ease-in-out; */
    transform: scale(1.2);
}

.contact-section{
    background-color: #fbffef;
    padding: 50px 0;
    text-align: center;
    margin-top: 100px;
}

.contact-container{
    max-width: 400px;
    height: 400px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: rgba(61, 51, 207, 0.769); 
    padding: 20px;

}

.contact-text h1{
    /* padding: 10px; */
    font-size: 1.5rem;
    color:#fff;
    
}

.contact-box{
    margin-top: 20px;
}

.input-field{
    width: calc(100% - 20px);
    margin-bottom: 15px;
    padding: 10px;
    font-size: .8rem; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


textarea {
    width: calc(100% - 20px);
    height: 100px;
    box-sizing: border-box;
}
.contact-box button{
    padding: 10px;
    background-color:lightcoral;
    border-radius: 8px;
    font-size: .5rem;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    margin-left: 2%;
}
.contact-box button a{
      text-decoration: none;
      color: aliceblue;
      font-size: 1rem;
}

.icon-list{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
}

.icon-list ul li{
    display: inline-block;
    margin-right: 10px;
}

.icon-list ul li a{
    text-decoration: none;
    color: inherit;
}

.icon-list ul li i{
    font-size: 2rem;
    margin-right: 5px;
    transition: color 0.3s;
}
.icon-list ul li i:hover{
    color: #ff001e;
}

@media screen and (max-width:1024px){
    .container{
        /* width: 1000px; */
        height: auto;
    }
    .intro-grid{
        grid-template-columns:1fr;
    }
    .intro-grid img{
        margin-top: 20px;
        width: 500px;
        height: 500px;
    }
    
    .intro-text {
        margin-bottom: 70px;
        text-align: center;
    }
    .about-section .container{
        /* width: 1000px; */
        height: auto;
    }
    
    .about-grid{
        grid-template-columns:  1fr;
    }
    
    .about-grid img {
       margin: 0 auto;
    }
    
    .about-text{
        text-align: center;
    }
    .about-text h1{
        font-size: 2.5rem;
    }
    
    .about-text p{
        font-size:1.5rem;
        font-weight: 500;
        margin: 20px;
    }
    .skill-container{
        /* max-width: 1000px; */
        height: auto;
    }
    .skill-grid{
        grid-template-columns:repeat(2, 1fr);
    }
    
    .card img {
        width: 200px;
        height: 200px;
    }
    .contact-section{
        background-color: #fbffef;
        padding: 50px 0;
        text-align: center;
    }
    
    .contact-text h1{
        /* padding: 10px; */
        font-size: 1.5rem;
        color:#fff;
        
    }
    .contact-box{
        margin-top: 20px;
    }
}




@media screen and (max-width: 500px) {
    .container{
        /* max-width: 300px; */
        height: auto;
    
    }
    .intro-grid{
        grid-template-columns: 1fr;
         margin-top: 30px;
    }
     .intro-grid img{
        width: 300px;
        height: 300px;
     }
    .intro-text {
        text-align: center;
        margin-bottom: 50px;
    }
    .intro-text h5{
        font-size: 1.5rem;
        font-weight: 200;
    }
    
    .intro-text span{
        font-size: 2rem;
    }
    
    .intro-text button{
        background-color: lightcoral;
        padding: 10px;
    }
    .about-grid{
        grid-template-columns:1fr;
    }
    
    .about-grid img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin-left: 5%;
    }
    
    .about-text{
         text-align: center;
         font-size: 2.5;
    }
    
    .about-text p{
        font-size:1.3rem;
        /* font-weight: 500; */
    }
    .skill-container{
        /* max-width: 300px; */
        height: auto;
    }
    .skill-grid{
        grid-template-columns:1fr;
    }
}

@media screen and (max-width:425px) {
    .container{
        max-width: 300px;
        height: auto;
    
    }
    .intro-grid{
        grid-template-columns: 1fr;
         margin-top: 30px;
    }
     .intro-grid img{
        width: 300px;
        height: 300px;
     }
    .intro-text {
        text-align: center;
        margin-bottom: 50px;
    }
    .intro-text h5{
        font-size: 1.5rem;
        font-weight: 200;
    }
    
    .intro-text span{
        font-size: 2rem;
    }
    
    .intro-text button{
        background-color: lightcoral;
        padding: 10px;
    }
    .about-grid{
        grid-template-columns:1fr;
    }
    
    .about-grid img {
        width: 300px;
        height: 300px;
    }
    
    .about-text{
         text-align: center;
         font-size: 2.5;
    }
    
    .about-text p{
        font-size:1.3rem;
        /* font-weight: 500; */
    }
    .skill-container{
        max-width: 300px;
        height: auto;
    }
    .skill-grid{
        grid-template-columns:1fr;
    }
    .contact-container{
        max-width: 300px;
    }
}